body{
background-image: linear-gradient(to right,#C33764,#1D2671);
}
.main-heading{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.container-fluid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 350px;
   /*background-color: rgba(7, 206, 246, 0.2)!important;*/
   background-color: lightblue!important;
    margin: 20px; 
    height: min-content; 
    box-shadow:20px 5px;
}
.card-header{
    font-family: Helvetica;
    font-size: 30px; 
    display: flex; 
    justify-content: center;
    height: 150px; 
    align-items: center; 
    font-weight: bolder;
    background-color: rgb(157, 170, 218)!important;
    color: rgb(39, 4, 19)!important;
}
.card-footer{
    background-color:rgb(157, 170, 218)!important; ;
}
.data{
    font-size: 25px;
}
.pagination{
    display: flex; 
    justify-content: center;
}
.btn{
    width: 100px; margin:5px;
}
.button{
    display: flex; 
    justify-content: space-evenly;
    margin:20px;
}
.content{
    display: none;
}
.characters{
    display:none;
}

