.text{
   padding: 200px; margin: 100px; text-align: center; margin-bottom:0; font-size: 75px;
}
.button{ 
    display:flex; width:100%; align-items: center; justify-content: center;
}
button{
    padding: 10px; width: 100px; }